**/.terraform/*
Данный коталог и его содержимое, где бы он не находился в нашем проекте будет игнорироваться

Исключены из гита следующие файлы
*.tfstate - имеющие расширение
*.tfstate.* - имеющие расшитрение начинаюсшиеся
crash.log - конкретный файл
crash.*.log - файлы с названием таки и расширением log
*.tfvars - все файлы с расширением 
override.tf - конкретный файл
override.tf.json - конкретный файл
*_override.tf - с таким вот расширением и конечным названием  
*_override.tf.json - с таким вот расширением и конечным названием файла 
terraform.rc - конкретный файл
